@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
@mixin button() {
  margin-top: 40px;
  padding: 1rem 1.7rem;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--coffee);
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}
:root {
  --coffee: #ab8b65;
  --black: #212529;
}
::selection {
  background-color: #ab8b65;
  color: white;
}
body {
  overflow-x: hidden;
}

.to_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000b3;
  color: white;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease;
}
.toTop_active {
  bottom: 35px;
  pointer-events: all;
  opacity: 1;
}

.slider {
  width: 100vw;
  height: 100vh;
  &:hover .slider_container .slide_btn {
    opacity: 1;
  }
  .slider_container {
    width: 100%;
    height: 100%;
    position: relative;
    .slide_content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      .slider_content_wrap {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.5s;
        }
        .slide_text {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: linear-gradient(45deg, #1818187a, #1818187a);
          h3 {
            color: var(--coffee);
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 20px;
            letter-spacing: -1px;
          }
          h1 {
            color: white;
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: -3px;
            text-align: center;
          }
          h4 {
            color: white;
            letter-spacing: -1px;
            margin-top: 20px;
            font-size: 1.2rem;
          }
          button {
            @include button();
            &:hover {
              background-color: var(--coffee);
              color: white;
            }
          }
        }
      }
    }
    .slide_btn {
      position: absolute;
      top: 50%;
      font-size: 1.4rem;
      padding: 0.2rem 0.5rem;
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: all 0.4s;
    }
    .left {
      left: 5%;
    }
    .right {
      right: 5%;
    }
  }
}

// navbar style
.navbar {
  padding: 2rem calc((100vw - 1000px) / 2);
  background-color: var(--black);
  color: white;
  transition: all 0.3s;
  z-index: 1;
  position: sticky;
  top: 0px;
}
.navActive {
  padding: 1rem calc((100vw - 1000px) / 2);
  .nav_wrapper {
    .logo {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 185px;
      }
    }
  }
}
.nav_wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .menu {
    a {
      color: white;
      text-decoration: none;
      padding: 0rem 1rem;
      font-weight: 600;
      transition: all 0.2s;
      &:nth-child(4) {
        padding-left: 20rem;
      }
      &:hover {
        color: var(--coffee);
      }
    }
  }
  .logo {
    position: absolute;
    top: -55px;
    transition: all 0.6s;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 250px;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem calc((100vw - 1000px) / 2);
  }
  .nav_wrapper {
    padding: 1rem;
    position: relative;
    justify-content: end;
    .menu {
      z-index: 1;
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 77px;
      left: 0px;
      background-color: var(--black);
      transform: scale(0);
      transform-origin: top;
      transition: all 0.3s ease;
      a {
        &:nth-child(4) {
          padding-left: 1rem;
        }
      }
    }
    .menu_active {
      transform: scale(1);
    }
    .logo {
      position: absolute;
      top: -4px;
      left: 14%;
      img {
        width: 100px;
      }
    }
  }

  .bars {
    background-color: var(--coffee);
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    .line {
      width: 15px;
      height: 2px;
      background-color: white;
      margin-bottom: 3px;
    }
  }
  .bars_active {
    .line {
      transition: all 0.3s;
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }
}

// about page

.about {
  padding: 5.5rem calc((100vw - 1200px) / 2);
  .about_wrapper {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .about_text_wrapper {
      width: 45%;
      button {
        padding: 1rem 1.6rem;
        border: 4px solid var(--coffee);
        border-radius: 10px;
        outline: none;
        background-color: white;
        color: var(--coffee);
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--coffee);
          color: white;
        }
      }
    }
    .about_banner {
      width: 40%;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 7px;
      }
    }
  }
}

.type_animation {
  margin-bottom: 50px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: var(--coffee);
    width: 100px;
    height: 4px;
    border-radius: 10px;
  }
  h1 {
    font-weight: 700;
    font-size: clamp(1.6rem, 5vw, 1.8rem);
    letter-spacing: -1px;
    margin-right: 10px;
  }
  ul {
    width: 118px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    li {
      list-style: none;
      font-weight: 700;
      font-size: clamp(1.6rem, 5vw, 1.8rem);
      letter-spacing: -1px;
      position: relative;
      top: 0;
      animation: slide 12s steps(3) infinite;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-left: 2px solid var(--black);
        animation: typing 4s steps(7) infinite;
      }
    }
  }
}

.about_text {
  h4 {
    color: rgb(151, 150, 150);
    font-size: 1rem;
  }
  p {
    font-size: clamp(0.7rem, 3vw, 0.9rem);
    color: rgb(167, 166, 166);
    margin: 20px 0px;
  }
}
.about_dec {
  overflow: hidden;
  height: 175px;
}
.about_imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .img-1 {
    width: 260px;
    img {
      width: 100%;
    }
  }
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 20px);
  }
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    top: -150px;
  }
}

@media (max-width: 1089px) {
  .about_text {
    p {
      font-size: clamp(0.7rem, 2vw, 0.9rem);
      color: rgb(167, 166, 166);
      margin: 20px 0px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    .about_wrapper {
      flex-direction: column;
      .about_text_wrapper {
        width: 100%;
      }
      .about_banner {
        width: 100%;
        margin-top: 50px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// reservation sec

.reserv_sec {
  padding: 5rem 0;
  background: linear-gradient(to right, #2c2a2ac2, #2c2a2ac2),
    url(./../public/img/background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}
.reserv_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .reserv {
    text-align: center;
    width: 50%;
    background: #00000094;
    padding: 3rem 2rem 3rem 15rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    h1 {
      color: white;
      font-weight: 800;
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
      color: #b1b1b1;
      margin: 20px 0px;
    }
    h4 {
      color: var(--coffee);
      font-weight: 800;
      font-size: 1.1rem;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .opentime {
    width: 50%;
    padding: 0 20rem 0 0;
    text-align: center;
    display: flex;
    .date {
      margin-left: 50px;
      h1 {
        color: white;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 20px;
      }
      p {
        color: #b1b1b1;
      }
    }
  }
}
@media (max-width: 768px) {
  .reserv_wrapper {
    flex-direction: column;
    .reserv {
      width: 100%;
      padding: 3rem 1rem;
    }
    .opentime {
      flex-direction: column;
      width: 100%;
      padding: 0;
      .date {
        margin-left: 0px;
      }
    }
  }
}

// menu section

.menu_sec_Wrapper {
  background: url(../public/img/background-2.jpg);
  padding-top: 5rem;
  padding-bottom: 5rem;
  object-fit: cover;
  background-size: cover;
  button {
    display: block;
    margin: 70px auto 0 auto;
    padding: 1rem 1.7rem;
    outline: none;
    border: 2px solid var(--coffee);
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--coffee);
    &:hover {
      color: white;
      background-color: var(--coffee);
    }
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 40px;
    position: relative;
    &::after {
      content: "";
      width: 100px;
      height: 3px;
      border-radius: 10px;
      background-color: var(--coffee);
      position: absolute;
      left: 18%;
      bottom: -35%;
    }
  }
  p {
    width: 30%;
    text-align: center;
    color: #9e9e9e;
  }
}
.items {
  padding: 0rem calc((100vw - 1200px) / 2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.item {
  margin-bottom: 20px;
  .item_title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    h4 {
      font-weight: 600;
      letter-spacing: -1px;
      font-size: 1.1rem;
    }
    .line {
      width: 100%;
      border-bottom: 1px dashed #9e9e9e;
      margin: 10px 20px 0 20px;
    }
  }
  .item_dec {
    p {
      color: #686868;
      font-size: 0.9rem;
    }
  }
}
.items_img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  cursor: pointer;
  .item_img {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
    .plus {
      position: absolute;
      width: 100%;
      height: 97%;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.538);
      opacity: 0;
      transition: all 0.3s;
      svg {
        color: white;
        font-size: 1.4rem;
        transform: translateY(-30px);
        transition: all 0.3s;
      }
    }
    &:hover .plus {
      opacity: 1;
      svg {
        transform: translateY(0);
      }
    }
  }
}
@media (max-width: 1193px) {
  .menu_sec_Wrapper {
    padding: 5rem 2rem;
    background: white;
  }
  .items_img {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .items {
    padding: 0rem calc((100vw - 1200px) / 2);
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
  .menu_sec_Wrapper {
    padding: 6rem 1rem;
    background: white;
  }
  .title {
    p {
      width: 100%;
      text-align: center;
      color: #9e9e9e;
    }
  }
  .items_img {
    grid-template-columns: repeat(2, 1fr);
  }
}

//===================news na devents section

.news_wrapper {
  padding: 5rem calc((100vw - 1200px) / 2);
  .news_feed {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    .news {
      padding: 3rem;
      background: #f6f3ef;
      h1 {
        font-size: 1.3rem;
        font-weight: 800;
      }
      h4 {
        margin: 10px 0px;
        font-size: 0.9rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
.btn {
  display: block;
  margin: 70px auto 0 auto;
  padding: 1rem 1.7rem;
  outline: none;
  border: 2px solid var(--coffee);
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--coffee);
  &:hover{
    background-color: var(--coffee);
    color: white;
  }
}
@media (max-width:768px){
  .news_wrapper {
    .news_feed {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }
}